# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# *.cpp file
2_typesstructs/quadratic
5_iterators_pointers/iterators_and_pointers
4_containers/Stanford vs STL/main
4_containers/Stanford vs STL/testing/TestDriver
4_containers/Stanford vs STL/testing/TestingGUI
4_containers/Stanford vs STL/testing/TextUtils
4_containers/Stanford vs STL/testing/MemoryDiagnostics
4_containers/Stanford vs STL/check
4_containers/vector_time_trials
4_containers/vector_list_deque
4_containers/vector_time_trials_solution
9_lambdas/solution
9_lambdas/exercises
6_classes/strvector_soln
6_classes/strvector
6_classes/main
cs106L-assignment1/build/CMakeFiles/3.22.2/CompilerIdCXX/CMakeCXXCompilerId
cs106L-assignment1/vcpkg/docs/examples/vcpkg_android_example_cmake/my_lib
cs106L-assignment1/vcpkg/docs/examples/vcpkg_android_example_cmake_script/my_lib
cs106L-assignment1/vcpkg/buildtrees/zlib/src/1.2.11-e9a093319e.clean/contrib/iostream/test
cs106L-assignment1/vcpkg/buildtrees/zlib/src/1.2.11-e9a093319e.clean/contrib/iostream/zfstream
cs106L-assignment1/vcpkg/buildtrees/zlib/src/1.2.11-e9a093319e.clean/contrib/iostream2/zstream_test
cs106L-assignment1/vcpkg/buildtrees/cpr/x64-linux-dbg/CMakeFiles/3.22.2/CompilerIdCXX/CMakeCXXCompilerId
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/cpr/parameters
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/cpr/payload
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/cpr/unix_socket
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/cpr/util
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/cpr/proxies
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/cpr/auth
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/cpr/response
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/cpr/session
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/cpr/curl_container
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/cpr/bearer
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/cpr/error
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/cpr/cookies
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/cpr/curlholder
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/cpr/timeout
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/cpr/proxyauth
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/cpr/multipart
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/cpr/redirect
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/cpr/cprtypes
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/test/async_tests
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/test/patch_tests
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/test/options_tests
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/test/alternating_tests
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/test/download_tests
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/test/structures_tests
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/test/version_tests
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/test/error_tests
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/test/proxy_auth_tests
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/test/raw_body_tests
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/test/proxy_tests
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/test/post_tests
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/test/abstractServer
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/test/callback_tests
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/test/delete_tests
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/test/session_tests
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/test/httpsServer
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/test/get_tests
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/test/encoded_auth_tests
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/test/put_tests
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/test/head_tests
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/test/util_tests
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/test/prepare_tests
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/test/httpServer
cs106L-assignment1/vcpkg/buildtrees/cpr/src/1.7.2-970957d80e.clean/test/ssl_tests
cs106L-assignment1/vcpkg/buildtrees/cpr/x64-linux-rel/CMakeFiles/3.22.2/CompilerIdCXX/CMakeCXXCompilerId
cs106L-assignment1/vcpkg/buildtrees/detect_compiler/x64-linux-rel/CMakeFiles/3.22.2/CompilerIdCXX/CMakeCXXCompilerId
cs106L-assignment1/vcpkg/buildtrees/curl/src/url-7_81_0-459d17a9d2.clean/src/macos/src/macos_main
cs106L-assignment1/vcpkg/buildtrees/curl/src/url-7_81_0-459d17a9d2.clean/src/macos/src/curl_GUSIConfig
cs106L-assignment1/vcpkg/buildtrees/curl/src/url-7_81_0-459d17a9d2.clean/docs/examples/htmltitle
cs106L-assignment1/error
cs106L-assignment1/main
7_template_classes/realvector_soln
7_template_classes/realvector
7_template_classes/cci
7_template_classes/main
3_streams/stringstream
3_streams/3_streams/OurSimpio/simpio_soln
3_streams/3_streams/OurSimpio/simpio
3_streams/3_streams/Ostreams/ostreams
3_streams/3_streams/Ostreams/ostreams_soln
3_streams/3_streams/Istreams/istreams
3_streams/3_streams/Istreams/istreams_soln
8_template_functions/count_occurrences
8_template_functions/template_functions
8_template_functions/count_occurrences_soln
8_template_functions/template_functions_soln
gen_gitignore
3pt5_initsRefs/Quadratic/quadratic_soln
3pt5_initsRefs/Quadratic/quadratic
3pt5_initsRefs/References/r_spaghetti
3pt5_initsRefs/References/references_mess
*.zip
.DS_Store
